
*{
    margin: 0;
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* navber */

.navber{
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-logo{
    width: 135px;
    height: 82px;
}
.nav-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav-item li{
    list-style: none;
    margin-left: 48px;
}
.shopping-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}


/* header-section */
.container-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1140px;
    margin: 120px auto;
}
.left-box-contant , 
.right-box-contant{
    width: 50%;
}
.left-box-contant h2{
    font-size: 4rem;
    font-weight: 700;
    font-family: noto;
    color: #000000;
    line-height: 4.5rem;
    letter-spacing: 0;
    margin-bottom: 13px;
}
.left-box-contant, .color-tip{
    color: #E95A08;
}
.left-box-contant p{
    font-size: 1.3rem;
    color: #000000;
    font-family: inter;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.7rem;
}
    