
*{
    margin: 0;
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* navber */

.navber{
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-logo{
    width: 135px;
    height: 82px;
    cursor: pointer;
}
.nav-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav-item li{
    list-style: none;
    margin-left: 48px;
    cursor: pointer;
}
.home{
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 700;
    color: #252432;
}
.item{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Inter";
    font-weight: 400;
    color: #8987A1;
    list-style: none;
    cursor: pointer;
}
.shopping-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: #000000;
}


/* header-section */
.container-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1140px;
    margin: 120px auto;
}
.left-box-contant , 
.right-box-contant{
    width: 50%;
}
.left-box-contant h2{
    font-size: 4rem;
    font-weight: 700;
    font-family: noto;
    color: #000000;
    line-height: 4.5rem;
    letter-spacing: 0;
    margin-bottom: 13px;
}
.left-box-contant, .color-tip{
    color: #E95A08;
}
.left-box-contant,  p{
    font-size: 1.3rem;
    color: #000000;
    font-family: inter;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.7rem;
}
.normal-font{
    font-size: 1.3rem;
    color: #000000;
    font-family: inter;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.7rem;
}

/* main section */
/* our plant card */
.body{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
.our-plan{
    text-align: center;
}
.plan-title{
    font-size: 3.25rem;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    margin-bottom: 16px;
}

.card-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    margin: 50px 0 210px;
}
.card-contain{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.card-contain h4{
    font-size: 1.5rem;
    font-family: "Noto Serif", serif;
    font-weight: 400;
    color: #111111;
    letter-spacing: normal;
    line-height: 1.6rem;
    margin: 30px 0 16px;
}
.card-contain h5{
    font-size: 1.5rem;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    color: #111111;
    letter-spacing: normal;
    line-height: 1.6rem;
    margin: 0 0 16px;
}
.card-button{
    background-color: #E95A08;
    border: none;
    padding: 26px 50px;
    width: 100%;
    font-size: 16px;
    font-family: "Noto Serif", serif;
    color: #ffffff;
    font-weight: 600;
}

/* flower and plant */
/* .flower-plant-wrapper{
    position: relative;
} */
.trust-badge{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -133px;
    left: 353px;
}
.flower-plant-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 134px;
    gap: 50px;
}
.flower-dev img{
    width: 540px;
    height: 590px;
}
.margi-top{
    margin-top: 20px;
}

/* latest deals */
.offer-box{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 450px;
    margin: 120px auto;
}
.offer-box-child-1{
    background-image: url(../B12A02-Responsive-Flowers/assets/deal-bloom.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-content: center;
    border-radius: 14px;
    position: relative;
}
.offer-box-child-2{
    background-image: url(../B12A02-Responsive-Flowers/assets/deal-ana.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 2;
    text-align: center;
    align-content: center;
    border-radius: 14px;
    position: relative;
}
.offer-box-child-3{
    background-image: url(../B12A02-Responsive-Flowers/assets/deal-zabo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1 / span 2;
    text-align: center;
    align-content: center;
    border-radius: 14px;
    position: relative;
}
.overly{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 20%;
    border-radius: 14px;
    top: 0;
}
.deco h4{
    font-size: 1.4rem;
    font-family: "Noto Serif", serif;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 26px;
}
.btn-latest-deal{
    font-size: 1rem;
    font-family: "Noto Serif", serif;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

/* join us */
.join-us{
    background-image: url(../B12A02-Responsive-Flowers/assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    text-align: center;
    align-content: center;
}
.join-wrapper h3{
    font-size: 3.2rem;
    font-family: "Noto Serif", serif;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 23px;
}
.btn-style{
    width: 830px;
    margin: 0 auto;
}
.btn-email{
    width: 68%;
    padding: 8px 20px;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
}
.btn-sub{
    width: 25%;
    padding: 9px 20px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
    color: #fff;
    margin-left: -5px;
}

/* footer */
.footer{
    display: grid;
    grid-template-columns: 4fr 3fr 3fr 3fr;
    width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0;
    column-gap: 70px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}
.footer-pragraph{
    margin-top: 16px;
}
.social-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
}

@media (max-width:767px) {
    .container-box{
    flex-direction: column-reverse;
    margin: 28px 0;
    padding: 0 16px;
    }
    .left-box-contant , 
    .right-box-container{
        width: 100%;
    }
    .left-box-contant h2{
    font-size: 1.5rem;
    line-height: 1.6rem;
    }
    .left-box-contant p{
    font-size: 0.9rem;
    line-height: 1.3rem;
    }
    .header-bg{
    width: 100%;
    margin-bottom: 24px;
    }

    /* <!-- our plant card --> */
    .body{
        padding: 48px 16px;
    }
    .plan-title{
        font-size: 1.5rem;
    }
    .normal-font{
    font-size: 0.9rem;
    line-height: 1.3rem;
    }
    .card-box{
    margin: 28px 0;
    grid-template-columns: repeat(2, 1fr);
    }
    /* .card-contain{
        width: 50%;
    } */
    .card-contain img{
        width: 100%;
    }
    .card-contain h4{
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 16px 0 4px;
    }
    .card-contain h5{
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 16px;
    }
    .card-button{
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 16px;
    }

}
  
    